<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kell The Designer</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <nav class="navbar">
            <a href="/" class="logo">
                <img src="{{ url_for('static', filename='images/logo.png') }}" alt="Koll Graphic Designer Logo">
            </a>
            <ul class="nav-links">
                <li><a href="/">HOME</a></li>
                <li><a href="/about">ABOUT ME</a></li>
                <li><a href="/services">SERVICES</a></li>
            </ul>
        </nav>
    </header>

    <main class="fade-in">
        {% block content %}{% endblock %}
    </main>
    
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>

    <div id="imageModal" class="modal">
        <span class="close-modal">&times;</span>
        <img class="modal-content" id="modalImage">
    </div>

</body>
</html>